body{
	padding: 60px;
	background-size: contain;
	background-repeat: repeat;
	background-image: url(../images/back0.jpg);
}
p.back1{
	background-image: url(../images/back4.jpg);
}
p.back2{
	background-image: url(../images/back1.jpg);
}
p.back3{
	background-image: url(../images/back2.jpg);
}
p.back4{
	background-image: url(../images/back3.jpg);
}
